.galeria-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.galeria-title {
    font-family: 'Greating Vibes', cursive;
    color: #FFF;
    font-size: 1.5rem;
}
